/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    min-height: 100vh;
    font-family: "Inter", Arial, sans-serif;
    background-color: #f9fafb;
    color: #222;
    line-height: 1.6;
}

/* CONTAINER PADRÃO */
.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 1.5rem;
}

/* HEADER */
.site-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 15vh;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-bottom: 1px solid #e5e7eb;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.site-header h1 {
    font-size: 1.8rem;
    text-align: center;
    color: #2e59d9;
    margin-top: 1rem;
}

.site-header p {
    text-align: center;
    color: #555;
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* MENU PRINCIPAL */

.main-menu{
    display: flex;
    flex-direction: row;
    min-width: 70vw;
    min-height: 8vh;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

.main-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 8vh;
    flex-wrap: wrap;
    gap: 3rem;
    background-color: #f1f3f8;
}

.main-menu ul li{
    display: flex;
    flex-direction: column;
    width: auto;
    min-height: 8vh;
    align-items: center;
    justify-content: center;
}

.main-menu ul li a {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #2e59d9;
    font-weight: 500;
    transition: color 0.3s ease;
}

/* BANNER PRINCIPAL */
.topBanner {
    max-width: 100%;
    margin: 1.5rem auto;
    text-align: center;
    min-height: 90px;
    background-color: #eef2ff;
    border: 1px dashed #cbd5e1;
}

main{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* LISTA DE POSTS */
.lista-posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    padding: 2rem 1rem;
}

.lista-posts h2 {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #2e59d9;
}

.grid-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    width: 100%;
    min-height: 30vh;
}

.grid-posts article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    padding: 1.2rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.grid-posts article:hover {
    transform: scale(1.05) translateY(-3px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.8);
    background-color: #f1f3f8;
    transition: 0.5s ease-in-out;
}

.grid-posts article h3 {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    color: #222;
    margin-bottom: 0.5rem;
}

.grid-posts article p {
    width: 100%;
    text-align: justify;
}

/* BANNER ENTRE POSTS */
.in-article-banner {
    text-align: center;
    margin: 2rem auto;
    min-height: 90px;
    background-color: #eef2ff;
    border: 1px dashed #cbd5e1;
}

/* DESTAQUES */
.containerDestaques {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
    background-color: #ffffff;
    border-top: 1px solid #e5e7eb;
    padding: 2rem 1rem;
    text-align: center;
    gap: 2rem;

}

.containerDestaques h2 {
    color: #2e59d9;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.containerDestaques article {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    gap: 2rem;
    
}

.containerDestaques article h3, .containerDestaques article p{
    flex-wrap: wrap;
}

button {
    background-color: #4e73df;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.6rem 1rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2em;
    transition: background 0.3s ease;
}


/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1c1f26;
    color: #ddd;
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 2rem;
}

footer .linksFooter a {
    color: #9fa6b2;
    text-decoration: none;
    margin: 0 0.8rem;
    font-size: 0.9rem;
}

footer .linksFooter a:hover,  footer .linksFooter a:active{
    color: #fff;
}

.main-menu ul li:hover > a, .main-menu ul li:active > a:active{
    color: #ff96ad;
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
    border-bottom: 1px solid #ff96ad;
}

button:hover, button:active{
    box-shadow: 0 0 5px #ff96ad,
                0 0 25px #ff96ad,
                0 0 50px #ff96ad,
                0 0 200px #ff96ad;
    color: #ff96ad;
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}


/* INTRODUÇÃO DA CATEGORIA */
.introCategoria {
    display: flex;
    flex-direction: column;
    min-width: 70%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.introCategoria h2 {
    color: #2e59d9;
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
}

.introCategoria p {
    color: #555;
    font-size: 1rem;
}

/* LISTA DE MENSAGENS */
.listaMensagens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 30vh;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.listaMensagens article {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    padding: 1.5rem;
    width: 30%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.listaMensagens article:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.listaMensagens blockquote {
    font-size: 1.1rem;
    font-style: italic;
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
}

/* FRASES RELACIONADAS */
.relacionadas {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 40vh;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.relacionadas h2 {
    color: #2e59d9;
    margin-bottom: 1rem;
}

.relacionadas ul {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.btnMenuMobile {
    background: none;
    border: none;
    cursor: pointer;
}



/* RESPONSIVIDADE */
@media (max-width: 768px) {

    .site-header{
        position: relative;
        width: 100%;
    }
    .site-header .container {
        padding: 0 1rem;
        align-items: flex-start;
    }
    .site-header .container h1 {
        width: 100%;
        flex-wrap: wrap;
        font-size: 1.4rem;
    }
    .site-header .container .subTituloTexto{
        width: 100%;
        flex-wrap: wrap;
    }
    .btnMenuMobile{
        position: relative;
        right: 0;
        font-size: 2em;
        background-color: transparent;
        color: #2e59d9;
        margin-top: 2rem;
    }
    .grid-posts {
        grid-template-columns: 1fr;
    }
    .grid-posts article h3{
        font-size: 1.4em;
        text-align: center;
    }
    .main-menu{
        display: none;
        position: relative;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 999;

        padding: 1rem 0;
    }
    .main-menu ul {
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .main-menu ul li{
        width: 100%;
    }
    .main-menu ul li a{
        width: 80%;
    }
    .containerDestaques{
        min-height: 30vh;
    }
    .containerDestaques button {
        transform: scale(1.8);
    }
    .containerDestaques article {
        font-size: 1.4em;
    }
}
